[submodule "license-generator"]
    path = extern/license-generator
    url = https://github.com/Apra-Labs/lcc-license-generator
    branch = vcpkg_changes
    ignore = all
[submodule "extern/vcpkg"]
    path = extern/vcpkg
    url = https://github.com/microsoft/vcpkg.git