# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.c text
*.cpp text
*.i text
*.ipp text
*.h text
*.hpp text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
